*
!README.md 	
!alignment.sh
!annotation.sh
!binning.sh
!bins.py
!config_template.sh
!deploy.sh
!distance.go
!environment.sh
!fasta_utils.py
!figures.py
!hicstuff.py
!log.py
!meta3c.sh
!network.py
!partition.sh
!pipeline.sh
!README.md
!requirements.txt
!TUTORIAL.md